[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipython = "*"
isort = "*"
black = "*"

[packages]
websockets = "*"
grpcio = "*"
grpcio-tools = "*"
requests = "*"
requests-cache = "*"
python-decouple = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
